body, html {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

#root {
    height: 100%;
}

#root > main > .MuiPaper-root {
    height: calc(100vh - 50px);
}

div {
    outline: none;
}
